<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="#">
		<%= image_tag current_user.avatar, width:"30", height:"30", class:"d-inline-block align-top rounded-circle", alt:"" if current_user.avatar.present? %>
  </a>
  <a class="navbar-brand" href="#">InfoTech</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
		<% if user_signed_in? %>
      <li class="nav-item">
		  <%= link_to 'Add Post', new_post_path, :class => 'nav-link' %>
			</li>
			<li class="nav-item">
			  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'nav-link' %>
			</li>
			<li class="nav-item">
		  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'nav-link'  %>
      </li>
		<% else %>
      <li class="nav-item">
		  	<%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %>
		  </li>
		  <li class="nav-item active">
	  		<%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
      </li>
		<% end %>
    </ul>
    <%= form_tag root_path,method: :get ,class:"form-inline my-2 my-lg-0" do %>
      <%= text_field_tag :search,"", class:"form-control mr-sm-2", type:"search", placeholder:"Search", "aria-label":"search"%>
      <%= submit_tag "Search",class:"btn btn-outline-success my-2 my-sm-0", type:"submit" %>
    <%end%>
  </div>
</nav>
<% if user_signed_in? %>
Logged in as <strong><%= current_user.email %></strong>

<div class="">
	<%= render "posts", posts: @posts%>
</div>
<%end%>
